table{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
tr :first-child img{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}
tr :nth-child(2){
    width: 220px;
    height: 20px;
}
td{
    padding: 13px 10px;
}
th, td div:first-of-type{
    color: rgba(38,38,38,0.78);
}
td div{
    line-height: 100%;
}
th{
    padding-left: 9px;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: small;
}
td div:nth-child(2){
    color: grey;
    font-size: small;
    padding-top: 5px;
    line-height: 150%;
}
tr :last-child img {
    width: 25px;
}